@model IEnumerable<EPiServer.Reference.Commerce.Domain.Contracts.Models.IProductModel>
<div class="product-row jsSearch container-fluid">
    <div class="row">
        @foreach (var productModel in Model)
        {
            Html.RenderPartial("_ProductTile", productModel);
        }
    </div>
</div>